<!-- views/profile.ejs -->
<!doctype html>
<html lang="en">
  <head>
      <title>Countdown</title>

      <!-- Icons! -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!--Styles-->
      <link href="/index.css" rel="stylesheet" type="text/css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!--FlipClock Stylesheet-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">

      <!-- Jquery link is up here for a good reason, believe me -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Flipclock JS also up here for a good reason -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
  </head>
  <body>
    <div class="container">

        <div class="center-align">
            <h1>Profile Page</h1>
            <a href="/logout" class="btn"><i class="material-icons right">exit_to_app</i>Logout</a>
        </div>

        <div class="row">

            <div class="col s12">

                <div class="">
                    <h3>Countdowns</h3>

                    <div class="countdowns">
                        <p>List of Countdowns - Total: <%=countdowns.length%></p>

                        <div class="create-countdown" hidden>
                          <div class="well">
                              <h3>Create Countdown</h3>

                              <form action="/countdowns" method="post">
                                  <div class="">
                                      <label for="title" class="active">Title for Countdown</label>
                                      <input type="text" class="" name="title">
                                  </div>
                                  <div class="">
                                      <label for="target date" class="active">Target Date</label>
                                      <input type="date" class="" name="targetDate">
                                  </div>
                                  <div class="">
                                      <label for="notes" class="active">Notes</label>
                                      <input type="text" class="" name="notes">
                                  </div>

                                  <button type="submit" class="btn">Create</button>
                              </form>
                          </div>
                        </div>

                        <button type ="button" class="create btn">Create Countdown</button>
                        <!--Append list of countdowns here-->
                        <% for(var i=0; i<countdowns.length; i++) { %>

                        <div class="countdown-data">

                          <p>Title: <%= countdowns[i].title %></p>
                          <p>Target Date: <%= countdowns[i].targetDate %></p>
                          <p>Notes: <%= countdowns[i].notes %></p>

                          <div class="edit-countdown" hidden>
                            <div class="well">
                                <h3><span class="fa fa-user"></span>Update Countdown</h3>

                                <form action="/countdowns/<%= countdowns[i]._id %>" method="post"> <!--<%= countdowns[i]._id %> -->
                                    <div class="">
                                        <label for="title" class="active">Title for Countdown</label>
                                        <input type="text" name="title" value="<%= countdowns[i].title %>">
                                    </div>
                                    <div class="">
                                        <label for="target date" class="active">Target Date</label>
                                        <input type="date" name="targetDate" value="<%= countdowns[i].targetDate %>">
                                    </div>
                                    <div class="">
                                        <label for="notes" class="active">Notes</label>
                                        <input type="text" name="notes" value="<%= countdowns[i].notes %>">
                                    </div>
                                    <input type="hidden" name="id" class="countdown-id" value="<%= countdowns[i]._id %>"/>

                                    <button type="submit" class="btn">Update</button>
                                </form>
                            </div>
                          </div>
                          <button type ="button" class="update btn">Edit</button>

                          <button type ="button" class="delete btn" value="<%= countdowns[i]._id %>">Delete</button>

                        <% if((new Date(countdowns[i].targetDate+"T00:00:00").getTime() / 1000) - (new Date().getTime()/1000) > 0) { %>

                          <div class="clock-<%=countdowns[i]._id%>" data-time-left="<%=countdowns[i].targetDate%>"></div>
                            <script type="text/javascript">
                                var clock = $('.clock-<%=countdowns[i]._id%>')
                                .FlipClock(<%= (new Date(countdowns[i].targetDate+"T00:00:00")
                                .getTime() / 1000) - (new Date().getTime()/1000) %>,{
                                  clockFace: 'DailyCounter',
                                  countdown: true,
                                  autoPlay: true
                                });
                            </script>
                            <% } else { %>
                              <h2>Countdown has finished!</h2>
                              <% } %>
                        </div>

                          <% } %>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="/clientside-profile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
