<!-- views/profile.ejs -->
<!doctype html>
<html lang="en">

<head>
  <title>Countdown</title>

  <!-- Icons! -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!--Styles-->
  <link href="/index.css" rel="stylesheet" type="text/css">

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Bold" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--FlipClock Stylesheet-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">

  <!-- Jquery link is up here for a good reason, believe me -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Flipclock JS also up here for a good reason -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
</head>

<body>
  <main role="main">
    <div class="container">

      <div class="row">

        <div class="center-align">

          <h1>Countdowns</h1>
          <p class='heading'>Dashboard for
            <%= user.local.email %>
          </p>
          <div class="countdowns">

            <a href="/logout" class="btn green darken-2 logout"><i class="material-icons right">exit_to_app</i>Logout</a>

            <div class="create-countdown" hidden>
              <div class="well">
                <h3>Create Countdown</h3>

                <form action="/countdowns" method="post">
                  <div class="">
                    <label for="title" class="active">Title for Countdown</label>
                    <input type="text" class="" name="title">
                  </div>
                  <div class="">
                    <label for="target date" class="active">Target Date</label>
                    <input type="date" class="" name="targetDate">
                  </div>
                  <div class="">
                    <label for="notes" class="active">Notes</label>
                    <input type="text" class="" name="notes">
                  </div>

                  <button type="submit" class="btn green darken-2">Create</button>
                </form>
              </div>
            </div>

            <button type="button" class="create btn green darken-2"><i class="material-icons right">access_time</i>Create</button>

            <% for(var i=0; i<countdowns.length; i++) { %>

            <div class="countdown-data card green lighten-2">

              <p class="heading">
                <%= countdowns[i].title %>
              </p>
              <p class="targetedDate">Counting down to
                <%= moment(countdowns[i].targetDate).format("dddd, MMMM Do, YYYY").toString()%>
              </p>

              <div class="notesBox">
                <p>Notes:
                  <%= countdowns[i].notes %>
                </p>
              </div>


              <div class="edit-countdown" hidden>

                <p class="heading-update">Update Countdown</p>

                <form action="/countdowns/<%= countdowns[i]._id %>" method="post">

                  <div class="">
                    <label for="title">Title for Countdown</label>
                    <input type="text" name="title" value="<%= countdowns[i].title %>">
                  </div>
                  <div class="">
                    <label for="target date">Target Date</label>
                    <input type="date" name="targetDate" value="<%= countdowns[i].targetDate %>">
                  </div>
                  <div class="">
                    <label for="notes">Notes</label>
                    <input type="text" name="notes" value="<%= countdowns[i].notes %>">
                  </div>
                  <input type="hidden" name="id" class="countdown-id" value="<%= countdowns[i]._id %>" />

                  <button type="submit" class="btn-small light-blue accent-3">Update</button>
                </form>

              </div>
              <button type="button" class="update btn-small blue lighten-1"><i class="material-icons">update</i></button>

              <button type="button" class="delete btn-small red darken-1" value="<%= countdowns[i]._id %>"><i class="material-icons">delete</i></button>

              <% if((new Date(countdowns[i].targetDate+"T00:00:00").getTime() / 1000) - (new Date().getTime()/1000) > 0) { %>

              <div class="clock-<%=countdowns[i]._id%>" data-time-left="<%=countdowns[i].targetDate%>"></div>
              <script type="text/javascript">
                var clock = $('.clock-<%=countdowns[i]._id%>')
                  .FlipClock(<%= (new Date(countdowns[i].targetDate+"T00:00:00")
                                  .getTime() / 1000) - (new Date().getTime()/1000) %>, {
                    clockFace: 'DailyCounter',
                    countdown: true,
                    autoPlay: true
                  });
              </script>
              <% } else { %>
              <p class="finished">Countdown has finished!</p>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="/clientside-profile.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
